.skills {
    margin-bottom: 2rem;
  }
  
  .skills h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .skills img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  
  .skills p {
    font-size: 1.6rem;
  }